{
    "from" : 0, "size" : 5,
    "query": {
        "bool": {
            "must": [
               {
               		"match": {
                  		"fileContent": "{{searchText}}"
               		}
               }
            ],
            "should": [
               {"match": {
                      "fileContent": "{{searchText}}"
               }}
            ]
        }
    }
}