<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<form class="row search-row" data-ng-submit='doSearch()'>
	<div class="form-group">
    	<div class="col-lg-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-offset-1 col-lg-9 col-sm-9 col-md-9 col-xs-9">
      		<input type="text" class="form-control" ng-model='searchText'>
    	</div>
    	<div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
      		<button type="submit" class="btn btn-primary" data-ng-click="doSearch()">Search</button>
    	</div>
  	</div>
</form>
<div class="row">
	<div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
		<div class="panel panel-primary" data-ng-repeat='res in searchResult'>
			<div class="panel-heading">
				<div class="row">
					<div class="col-lg-11 col-sm-11 col-xs-11 col-md-11">
						{{res.fileName}}
					</div>
					<div class="col-lg-1 col-sm-1 col-xs-1 colmd-1 pull-right">
						<i class="fa fa-download cursor" aria-hidden="true" data-ng-click="doDownload(res.id)"></i>
					</div>
				</div>
			</div>
			<div class="panel-body">{{res.phrase}}</div>
		</div>
	</div>
</div>